.app-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Circular Std", sans-serif;
}

.price-header {
  text-align: left;
}

.price-header h1 {
  margin-bottom: 0;
  font-size: 70px;
  font-weight: 400;
  color: #1a243a;
}

.price-header sup {
  color: #bdbebf;
  font-size: 24px;
}

.price-change {
  color: #67bf6b;
  font-size: 18px;
  margin-top: 5px;
}

.tabs {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0px 30px 10px;
  font-size: 18px;
  gap: 40px;
}

.timeframes {
  display: flex;
  justify-content: flex-end;
  margin: 20px 50px;
  gap: 20px;
  font-size: 18px;
}

.tab,
.timeframe {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  color: #6f7177;
  font-size: 18px;
  font-weight: 400;
  font-family: "Circular Std", sans-serif;
}

.tab.active {
  color: #1a243a;
  padding: 10px;
  border-bottom: 3px solid #4b40ee;
}
.timeframe.active {
  background-color: #4b40ee;
  border-radius: 5px;
  color: #ffffff;
}
